*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


input, button {
    outline: none;
    border: none;
}




/*code by NamCoder*/


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: pink;
}


.styleDivHead{
    position: fixed;
    margin-top: 3px;
    border-radius: 0.5rem;
    background: pink;
    width: 100%;
    height: 50px;
}
.styleLogo{
    float: left;
    margin-top: 5px;
    height: 40px;
    width: 40px;
    border: 1px solid #73AD21;
    margin-left: 100px;
}
.styleImage{
    margin-top: 4px;
    margin-left: 4px;
    width: 30px;
    height: 30px;
}

.styleFindAndSubmitUserName{
    float: left;
    margin-top: 5px;
    height: 40px;
    width: 341px;
    border: 1px solid #73AD21;
    margin-left: 10px;
}
.styleFindUserName{
    float: left;
    height: 40px;
    width: 304px;
}
.styleTextFindUsername{
    color: #73AD21;
    margin-left: 4px;
    margin-top: 4px;
    width: 300px;
    height: 30px;
}
.styleSubmit{
    float: right;
    margin-top: 4px;
    margin-right: 5px;
    height: 30px;
    width: 30px;

}

.styleProfile{
    float: left;
    margin-top: 5px;
    height: 40px;
    width: 90px;
    border: 1px solid #73AD21;
    margin-left: 300px;
}

.styleViewProfile{
    float: left;
    height: 40px;
    width: 50px;
}
.styleHome{
    margin-top: 4px;
    float: right;
    height: 40px;
    width: 35px;
}
.styleSpand{
    text-decoration: none;
    margin-top: 4px;
    text-align: center;
    font-size: 12px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.styleSetting{
    float: right;
    margin-top: 5px;
    height: 40px;
    width: 41px;
    border: 1px solid #73AD21;
    margin-right: 180px;
}


